body{
    font-family:"Arial", Arial, Sans-serif;
}
h1{
    font-size:1.75em;
}
h2{
    font-size:1.25em;
}
#main{
    width:900px;
    margin-left:auto;
    margin-right:auto;
}
#editPane{
    width:400px;
    min-height:200px;
    padding:4px;
}
div.tab{
    display:table;
    width:90%;
}
div.tabO{
    display:table;
    width:100%;
}
div.tabPN{
    display:table;
    background-color:#EBEBEB;
    width:100%;
}
div.tRow{
    display:table-row;
}
div.tCell{
    display:table-cell;
    padding:3px;
    font-size:0.875em;
}
div.tCellf{
    display:table-cell;
    padding:3px;
    font-size:0.875em;
    background-color:#C1FFC1;
    width:20%;
}
div.tCellg{
    display:table-cell;
    padding:3px;
    font-size:0.875em;
    background-color:#F0FFF0;
    width:20%;
}
div.tCelll{
    display:table-cell;
    padding:3px;
    font-size:0.875em;
    background-color:#D8BFD8;
    width:20%;
}
div.tCellm{
    display:table-cell;
    padding:3px;
    font-size:0.875em;
    background-color:#C6E2FF;
    width:20%;
}
div.tCelln{
    display:table-cell;
    padding:3px;
    font-size:0.875em;
    background-color:#FFEECA;
    width:20%;
}
table.editOps{
    font-size:0.8em;
}